<section class="my-work-container">
  <h1>Portfolio</h1>
  <p>
    See some of my works below. <span><b>More Details about each project will be released soon</b> </span>
  </p>

  <section class="cards-container">
    <ng-container *ngFor="let project of projects">

      <div class="card">
        <div class="content-container">
          <img src="{{project.image}}" alt="{{project.title}}" />
          <h5>{{project.title}}</h5>
          <div class="chips-container">
            <ng-container *ngFor="let tech of project.technologies">
              <div class="md-chip">
                {{tech}}
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </section>

</section>