<section class="my-work-container">
  <h1>PORTFOLIO</h1>
  <p>
    See some of my works below. <span class="mobile-text"><b>Click on card to see more details.</b> </span>
  </p>

  <section class="cards-container">
    <div class="card">
      &nbsp;
    </div>
    <div class="card">
      &nbsp;
    </div>
    <div class="card">
      &nbsp;
    </div>
    <div class="card">
      &nbsp;
    </div>
    <div class="card">
      &nbsp;
    </div>
    <div class="card">
      &nbsp;
    </div>
  </section>

</section>