.my-work-container {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 50px;
}

h1 {
  font-size: 36px;
  font-weight: 400;
}

.mobile-text {
  display: none;
}

.cards-container {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.card {
  width: 100%;
  height: 250px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 60em) {
  .mobile-text {
    display: initial;
  }
}
