<aside class="sidenav-container">

  <a routerLink='/'>
    <img src="../../../../assets/me.jpg">
  </a>
  <section class="identification">
    <p class="title">Gabriel Barbosa</p>
    <h2 class="subtitle">Full-Stack Web Developer</h2>
  </section>
  <nav class="navlist">
    <ul>
      <li>My Cv</li>
      <li>Skills</li>
      <li>Portfolio</li>
      <a routerLink="contact">
        <li>Contact Me</li>
      </a>
    </ul>
  </nav>
  <footer>
    <section class="get-in-touch">
      <a href="mailto:gabrielbarbosaprofissional@gmail.com">
        <i class="fas fa-envelope"></i>
      </a>
      <a href="https://www.linkedin.com/in/gabriel-barbosa-de-oliveira/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/Gabriel-Barbosa-de-Oliveira" target="_blank">
        <i class="fab fa-github-square"></i>
      </a>
    </section>
  </footer>
</aside>