.contact-container {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 50px;
}

h1 {
  font-size: 36px;
  font-weight: 400;
}

.contact-section {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 100px auto;
}

i {
  margin-right: 16px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
