<section class="contact-container">
  <h1>Contact Me</h1>
  <p>
    I am available for hire and open to any ideas of cooperation.
  </p>
  <div class="contact-section">
    <span>Email</span>
    <span>
      <i class="fas fa-envelope"></i>
      <a href="mailto:gabrielbarbosaprofissional@gmail.com">gabrielbarbosaprofissional@gmail.com</a>
    </span>
    <span>LinkedIn</span>
    <span>
      <i class="fab fa-linkedin"></i>
      <a href="https://www.linkedin.com/in/gabriel-barbosa-de-oliveira/" target="_blank">Gabriel-Barbosa-de-Oliveira</a>
    </span>
    <span>GitHub</span>
    <span>
      <i class="fab fa-github-square"></i>
      <a href="https://github.com/Gabriel-Barbosa-de-Oliveira" target="_blank">Gabriel-Barbosa-de-Oliveira</a>
    </span>
  </div>
</section>